In [23]:
# Dependencies and Setup
import pandas as pd
from pathlib import Path

# File to Load 
school_data_to_load = Path('C:\\Users\\sooki\\OneDrive\\Desktop\\Bootcamp Classwork Projects\\Week 4 - Pandas and Jupyter\\Pandas_Challenge\\pandas_challenge\\Starter_Code\\Starter_Code\\PyCitySchools\\Resources\\schools_complete.csv')
student_data_to_load = Path('C:\\Users\\sooki\\OneDrive\\Desktop\\Bootcamp Classwork Projects\\Week 4 - Pandas and Jupyter\\Pandas_Challenge\\pandas_challenge\\Starter_Code\\Starter_Code\\PyCitySchools\\Resources\\students_complete.csv')

# Read School and Student Data File and store into Pandas DataFrames
school_data = pd.read_csv(school_data_to_load)
student_data = pd.read_csv(student_data_to_load)

# Combine the data into a single dataset.
school_data_complete = pd.merge(student_data, school_data, how="left", on=["school_name", "school_name"])
school_data_complete.head()

,Student ID,student_name,gender,year,school_name,reading_score,maths_score,School ID,type,size,budget
0,0,Paul Bradley,M,9,Huang High School,96,94,0,Government,2917,1910635
1,1,Victor Smith,M,12,Huang High School,90,43,0,Government,2917,1910635
2,2,Kevin Rodriguez,M,12,Huang High School,41,76,0,Government,2917,1910635
3,3,Richard Scott,M,12,Huang High School,89,86,0,Government,2917,1910635
4,4,Bonnie Ray,F,9,Huang High School,87,69,0,Government,2917,1910635

# Local Government Area (LGA) Summary

Perform the necessary calculations and then create a high-level snapshot of the local government area's key metrics in a DataFrame. 

Include the following:

1) Total number of unique schools
2) Total students
3) Total budget
4) Average maths score
5) Average reading score
6) % passing maths (the percentage of students who passed maths)
7) % passing reading (the percentage of students who passed reading)
8) % overall passing (the percentage of students who passed maths AND reading)

Note: A passing grade is 50 or higher.

In [35]:
# 1) Total number of unique schools

unique_schools = school_data_complete["school_name"].unique()
total_unique_school_number = len(unique_schools)
print("The total number of unique schools is ", total_unique_school_number)

The total number of unique schools is  15

In [36]:
# 2) Total students

total_students = len(school_data_complete["Student ID"])
print("The total number of students is", total_students)

The total number of students is 39170

In [76]:
# 3) Total budget

# Get unique school names
unique_schools = school_data_complete["school_name"].unique()

# Set a variable to store the total budget
total_budget = 0

# Iterate through unique school names and calculate budgets
for school in unique_schools:
    budget = school_data_complete[school_data_complete["school_name"] == school]['budget'].iloc[0]
    total_budget += budget

# Print the sum of budgets for all unique schools
print("Total budget for all unique schools:", total_budget)

Total budget for all unique schools: 24649428

In [54]:
# 4) Average maths score

avg_maths_score = "{:.3f}".format(sum(school_data_complete["maths_score"] / len(school_data_complete["Student ID"])))
print("The average maths score is ", avg_maths_score)

The average maths score is  70.338

In [53]:
# 5) Average reading score

avg_reading_score = "{:.3f}".format(sum(school_data_complete["reading_score"] / len(school_data_complete["Student ID"])))
print("The average reading score is ", avg_reading_score)

The average reading score is  69.980

In [69]:
# 6) % passing maths (the percentage of students who passed maths)
# Note: A passing grade is 50 or higher.

passing_maths = (school_data_complete['maths_score'] >= 50).sum()
total_students = len(school_data_complete["Student ID"])

passing_maths_percentage = "{:.3f}%".format(passing_maths / total_students * 100)
print("The percentage of students who passed maths is", passing_maths_percentage)

The percentage of students who passed maths is 86.079%

In [70]:
# 7)  % passing reading (the percentage of students who passed reading)
# Note: A passing grade is 50 or higher.

passing_reading = (school_data_complete['reading_score'] >= 50).sum()
total_students = len(school_data_complete["Student ID"])

passing_reading_percentage = "{:.3f}%".format(passing_reading / total_students * 100)
print("The percentage of students who passed reading is", passing_reading_percentage)

The percentage of students who passed reading is 84.427%

In [71]:
# 8) % overall passing (the percentage of students who passed maths AND reading)
# Note: A passing grade is 50 or higher.

passing_both = ((school_data_complete['maths_score'] >= 50) & (school_data_complete['reading_score'] >= 50)).sum()
total_students = len(school_data_complete["Student ID"])

passing_both_percentage = "{:.3f}%".format(passing_both / total_students * 100)
print("The percentage of students who passed both maths and reading is", passing_both_percentage)

The percentage of students who passed both maths and reading is 72.808%

In [77]:
data = {"Total Schools": [total_unique_school_number],
        "Total Students": [total_students],
        "Total Budget": ["${:,.2f}".format(total_budget)],
        "Average Maths Score": [avg_maths_score],
        "Average Reading Score": [avg_reading_score],
        "% Passing Maths": [passing_maths_percentage],
        "% Passing Reading": [passing_reading_percentage],
        "% Overall Passing": [passing_both_percentage]}

LGA_summary_df = pd.DataFrame(data)
LGA_summary_df

,Total Schools,Total Students,Total Budget,Average Maths Score,Average Reading Score,% Passing Maths,% Passing Reading,% Overall Passing
0,15,39170,"$24,649,428.00",70.338,69.980,86.079%,84.427%,72.808%

## School Summary

Perform the necessary calculations and then create a DataFrame that summarises key metrics about each school.

Include the following:

1) School name
2) School type
3) Total students
4) Total school budget
5) Per student budget
6) Average maths score
7) Average reading score
8) % passing maths (the percentage of students who passed maths)
9) % passing reading (the percentage of students who passed reading)
10) % overall passing (the percentage of students who passed maths AND reading)